#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
}

/* Full viewport background */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Container for Enter button */
#enterButtonContainer {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Button styling */
#enterButton {
  padding: 15px 30px;
  font-size: 1.2em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  outline: none;
}

#enterButton:focus, #enterButton:active {
  outline: none;
  box-shadow: none;
  border-color: white;
}

/* Video container styling */
#videoContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text box styling */
#textBox {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  z-index: 2;
}

#textBox img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#textBox h1 {
  font-size: 2em;
  margin: 10px 0;
}

#textBox p {
  font-size: 1.2em;
  margin: 5px 0;
}

#textBox .bio {
  font-size: 1em;
  margin-bottom: 10px;
}

#textBox hr {
  border: 1px solid #fff;
  margin: 20px 0;
}

.image-buttons {
  display: flex;
  justify-content: center;
}

.image-button {
  margin: 0 10px;
}

.image-button img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.image-button img:hover {
  transform: scale(1.1);
}
